<div>
    <%= form_with url: forecasts_path, method: :post do %>
    <%= label_tag :address, "Enter Address:" %>
    <%= text_field_tag :address, nil, required: true %>
    <%= submit_tag("Get Forecast", :class=>"bg-blue-500 p-2 text-white") %>
    <% end %>
    <% if @weather_data.present? %>
        <div class="bg-sky-500 text-white rounded-md border-silver-500 m-8 p-10">
            <h2>Forecast</h2>
            <p> Current temp at this address: <%= params[:address] %> is <%= @weather_data["main"]["temp"] %>°F </p>
            <p>Condition: <%= @weather_data["weather"].first["description"] %></p>
            <p>High:  <%= @weather_data["main"]["temp_max"] %>°F</p>
            <p>Low:  <%= @weather_data["main"]["temp_min"] %>°F</p>
            <% if @from_cache %>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <div>From Cache</div>
            <% end %> 
        </div>
    <% end %>
</div>