<div>
    <%= form_with url: forecasts_path, method: :post do %>
    <%= label_tag :address, "Enter Address:" %>
    <%= text_field_tag :address, nil, required: true %>
    <%= submit_tag "Get Forecast" %>
    <% end %>

    this is current temp at this address: <%= params[:address] %>
</div>